@import url(./components/window.css);
@import url(./components/taskbar.css);
@import url(./components/desktop.css);
@import url(./components/startmenu.css);

button {
	margin: 2px;

	background-color: var(--default-bg-col);

	border-top: 2px solid var(--lighter-bg-col);
	border-left: 2px solid var(--lighter-bg-col);

	border-right: 2px solid var(--darker-bg-col);
	border-bottom: 2px solid var(--darker-bg-col);

	cursor: pointer;

	display: flex;
	flex-flow: row nowrap;
	gap: 0.15em;

	align-items: center;
	justify-content: center;

	padding-left: 4px;
	padding-right: 4px;

	& > img {
		height: 1.5em;
	}

	&:disabled {
		cursor: unset;

		filter: brightness(0.5);
		color: var(--dim-bg-col);
	}

	&:hover:not([disabled]) {
		filter: brightness(0.95);
	}

	&:active:not([disabled]),
	&.pressed {
		background-color: var(--dim-bg-col);

		border-top: 2px solid var(--darker-bg-col);
		border-left: 2px solid var(--darker-bg-col);

		border-right: 2px solid var(--lighter-bg-col);
		border-bottom: 2px solid var(--lighter-bg-col);
	}
}
