.l-bottom {
	z-index: -10000;
}

.l-top {
	z-index: 10000;
}

.l-0 {
	z-index: 0;
}

.l-1 {
	z-index: 100;
}

.l-2 {
	z-index: 200;
}

.windowlayer {
	height: calc(100vh - 30px);
	min-height: calc(100vh - 30px);
	max-height: calc(100vh - 30px);
}