.bulge {
	padding: 2px;
	margin: 2px;

	border-top: 2px solid var(--lighter-bg-col);
	border-left: 2px solid var(--lighter-bg-col);

	border-right: 2px solid var(--darker-bg-col);
	border-bottom: 2px solid var(--darker-bg-col);
}

.inset {
	margin: 2px;
	padding: 2px;

	border-right: 2px solid var(--lighter-bg-col);
	border-bottom: 2px solid var(--lighter-bg-col);

	border-top: 2px solid var(--darker-bg-col);
	border-left: 2px solid var(--darker-bg-col);
}

.listcontainer {
	display: flex;
	flex-flow: row nowrap;

	& > * {
		margin: 2px;
	}

	&.vertical {
		flex-flow: column nowrap;
	}

	&.wrap {
		flex-wrap: wrap !important;
	}

	&.stretch {
		align-items: stretch;
	}

	&.fill {
		& > * {
			flex: 1;
			flex-grow: 1;
			flex-shrink: 1;
		}
	}
}

.fillparent {
	width: 100%;
	height: 100%;
}

.nospacing {
	margin: 0;
	padding: 0;
}

.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}
