.taskbar {
	background-color: var(--default-bg-col);

	border-top: 2px solid var(--lighter-bg-col);

	width: 100%;
	min-height: 23px;

	position: absolute;

	bottom: 0;
	left: 0;

	padding: 2px;

	display: flex;
	flex-flow: row nowrap;
}
